@font-face {
	font-family: "Helvetica";
	src: url(../fonts/BebasNeue.woff2),
			url(../fonts/BebasNeue.woff);
}

@font-face {
	font-family: "Cookie-Regular";
	src: url(../fonts/Cookie-Regular.woff2),
			url(../fonts/Cookie-Regular.woff);
}

@font-face {
	font-family: "Tahoma";
	src: url(../fonts/Tahoma-Regular.woff2),
			url(../fonts/Tahoma-Regular.woff);
}

$bebas: "Helvetica", Helvetica, Arial, sans-serif;
$cookie: "Cookie-Regular", TrueType, Cookie, cursive, sans-serif;
$tahoma: "Tahoma", Tahoma, Verdana, sans-serif;
