.our-services {
	margin: 1.6rem;
	width: 100%;
}

.our-service {
	padding: 1rem;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;

	font-family: $tahoma;
	background-color: $bg-section;

	border-radius: 4px;
	box-shadow: 0 0 8px $grey-shadow;

	&:first-of-type {
		margin-bottom: 1rem;
	}
}

.our-service__title {
	order: 0;

	font-family: $cookie;
	color: $lime-txt;
	font-size: 2.3rem;
}

.our-service__text {
	order: 1;

	line-height: 1.3rem;

	font-size: 0.9rem;
}

.img-wrap {
	position: relative;

	margin: 1rem auto;

	order: 2;

	&:hover {
		position: static;

		margin: 1rem auto;
	}
}

.our-service__img {
	cursor: pointer;

	border-radius: 4px;
	box-shadow: 0 0 8px $grey-shadow;
	transition: all 1s ease-out;

	&:hover {
		box-shadow: none;
		transform: scale(1.4);
	}
}

.our-service__span-plus {
	position: absolute;
	top: -10%;
	left: -6%;

	content: "";
	width: 2rem;
	height: 2rem;

	border-radius: 50%;
	border: 1px solid #ccc;

	background: linear-gradient(to bottom, $light-grey, $dark-grey);
	cursor: pointer;
	transition: all 1s ease-out 0.5s;

	&::before,
	&::after {
		 position: absolute;
		 z-index: 3;

		 top: 0.8rem;
		 left: 0.5rem;
		 content: "";

		 width: 1rem;
		 height: 5px;

		 background: #2a3940;
	}

	&::after {
		transform: rotate(90deg);
	}
}

.img-wrap:hover {
	.our-service__span-plus {
		opacity: 0;
	}
}

.our-service__see-more {
	position: relative;
	
	order: 3;

	margin: 1rem 0 0 auto;
	padding: 0.4rem 2.3rem 0.5rem 1rem;
	height: auto;

	font-size: 0.8rem;
}

.our-service__arrow {
	position: absolute;
	top: 0.25rem;
	left: 5.2rem;
	
	content: "";
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	border: 1px solid #aeaeae;

	background: url(./../img/right-arrow.png) no-repeat, linear-gradient(to bottom, #ccc, #eaeaea);
	background-size: 50%, 100%;
	background-position: center;
}

.our-service__bottom-link {
	position: relative;
	margin: 2rem 0;
	padding: 0.5rem;

	display: block;

	color: white;
	font-family: $cookie;
	font-size: 1.5rem;
	text-shadow: 0 0 3px $lime-shadow;
	text-align: center;

	background: linear-gradient(to bottom, $light-lime, $dark-lime);
	border-radius: 4px;
	box-shadow: 0 0 8px $grey-shadow;

	&::before,
	&::after {
		position: absolute;
		top: 1.2rem;

		content: "";

		width: 10%;
		height: 2px;

		background: white;
	}

	&::before {
		left: 0.3rem;
	}

	&::after {
		right: 0.3rem;
	}
}
