$grey-txt: #d1d3d5;
$blue: #2b3a41;
$blue-link: #2560a2;
$lime: #9cd249;
$grey-txt-cursive: #fdfdfd;
$light-lime: #bde96c;
$dark-lime: #6fa928;
$bg-section: #f8f7f7;
$lime-txt: #5ca81b;
$grey-shadow: #949494;
$light-grey: #ededed;
$dark-grey: #cecece;
$lime-shadow: #456a1c;
$big-mob: 544px;
$tablet: 768px;
$desk: 1200px;
